---
import Step from "./Step.astro";
---

<div class="flex flex-col gap-16 px-4 md:gap-32">
  <Step
    label="Step 1"
    title="Say Hello to Your Pet Squirrel"
    illustration="images/step1.png"
    illustrationAlt="Cartoon squirrel wearing a party hat and firing a party popper with acorns flying out of it"
    flipped={false}
  >
    <p>
      <em>Import your transactions</em> to reveal your pet squirrel. Unlike judgmental
      money apps, your furry friend <em>celebrates wins</em> and never makes you
      feel guilty about slip-ups.
    </p>
  </Step>
  <Step
    label="Step 2"
    title="Make Budgeting Actually Fun"
    illustration="images/step2.png"
    illustrationAlt="A playing card with a transaction for an acorn on it."
    flipped={true}
  >
    <p>
      <em>Swipe transactions</em> into 'Needs' and 'Wants' to track spending and
      <em>earn rewards for your squirrel</em>. See how much you have left to
      spend without ever touching a spreadsheet.
    </p>
  </Step>
  <Step
    label="Step 3"
    title="Stop Impulse Spending"
    illustration="images/step3.png"
    illustrationAlt="Cartoon squirrel wearing a police hat. They are holding a takeaway bag in one hand, and a STOP road sign in the other."
    flipped={false}
  >
    <p>
      Check-in before spending money for a <em>quick reality check</em>. See how
      potential purchases fit within your budget and make confident decisions. <em
        >No more post-purchase anxiety and regret.</em
      >
    </p>
  </Step>
  <Step
    label="Step 4"
    title="Watch Your Savings Grow"
    illustration="images/step4.png"
    illustrationAlt="Cartoon squirrel happily watering a series of small tree saplings with a watering can"
    flipped={true}
  >
    <p>
      Make saving a <em>daily ritual</em>. Your squirrel cheers you on as
      consistent saving habits help you build your Emergency Fund or save for
      that dream holiday. <em>Small steps, big results!</em>
    </p>
  </Step>

  <Step
    label="Step 5"
    title="Collect Exciting Rewards"
    illustration="images/step5.png"
    illustrationAlt="Mobile app screen showing a clothes store"
    flipped={false}
  >
    <p>
      Reach milestones and <em
        >unlock limited-edition clothes and accessories</em
      > for your squirrel. These cute collectibles are tangible proof of your progress
      and <em>growing confidence</em> with money.
    </p>
  </Step>
</div>
